pandas
tqdm
setuptools
wheel
numpy
click
psutil
pims
git+https://github.com/flatironinstitute/CaImAn.git
bokeh
coverage
cython
future
h5py
holoviews
ipykernel
ipython
ipyparallel
jupyter
keras
matplotlib
mypy
numpydoc
opencv-python
peakutils
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow
tifffile
tk
yapf
